.container{
    width: 55%;
    margin: auto;
}

#thebooleaner {
    width: 20%;
    margin-top: 50px;
    margin-bottom: 15px;
}

header {
 background-color: rgb(78, 160, 255);
 width: 100%;
}

.headline {
    font-size: 40px;font-weight: 900;
    margin-bottom: 0;
}

.author {
    color: grey;
    font-size: 0.9rem;
}

.date {
    color: grey;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

html {
    font-size: 17px;
}

.caption {
    font-size: 0.6rem;
}

#thebooleaner {
    text-decoration: none;
}

ul {
    padding-left: 20px;
}

.little-cell {
    width: 25%;
}

th {
    text-align: left;
}

thead {
    background-color: rgb(32, 169, 229);
    color: white;
}

.odd-row {
    background-color: rgb(177, 229, 242);
}

table {
   margin-top: 40px;
}

h3 {
    color: grey;
    margin-top: 40px;
}

h2{
    color: white;
}

.img-footer {
  width: 250px;
  height: 200px;
}

#monitor {
    background-image: url("img/monitor.jpg");
}

#graph {
    background-image: url("img/graph.jpg");
}